@use "../../styles/variables" as theme;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;

  label {
    font-size: 1.5rem;
    color: lighten(theme.$black, 25%);
  }

  input {
    padding: 0 1rem;
    height: 5rem;
    background-color: darken(theme.$white, 5%);
    border-color: transparent;
    border-radius: 5px;
  }

  p.error-message {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: red;
    left: 0;
    bottom: -2rem;
  }
}
