@use "./variables" as theme;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: theme.$black;
  background-color: theme.$white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* <ACCESSIBILITY> Hiding class, making content visible only to screen readers but not visually */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ReactModal__Content {
  width: 90%;
  padding: 0 2rem;
  max-width: 500px;
}
